<h1>지금까지 작성된 포스트들</h1>

<% @posts.each do |post| %>
  <h3>
    <a href="/posts/show/<%= post.id %>">
      <%= post.id %> :
      <%= post.title %>
      조회수 <%= post.count %>
    </a>
  </h3>
<% end %>

ppp

<h2><a href="/posts/new">[추가하기]</a></h2>
