
<div class="container">


<form action="/posts/create" method="post" style="padding-top:80px;">
  <h2>삼행시</h2>
  <input type="text" name="title" id="" maxlength="3">
  <input class="btn btn-default" type="submit" name="" id="">

</form>

</div>
