<h1>새로운 Post를 입력할 공간입니다.1</h1>

<form action="/posts/create" method="post">
  <p>제목</p>
  <input type="text" name="title" id="">
  <p>내용</p>
  <input type="text" name="content" id="">
  <p>제출</p>
  <input type="submit" name="" id="">
</form>
